# File type

*.apk
*.xapk
*.jar

# Cache & temp files

__pycache__/
*.pyc
.pytest_cache/
scratch
.tmp_aurora_store_2
.tmp_gplayapi

# junk files

repomix-output.md

logcat_*.txt
*.patch
*.diff
desktop.html

